/* ==========================================================================
   Kellie's custom styles
   ========================================================================== */

/* GLOBAL STYLES & CONTENT WIDTHS/PADDING */

body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
}

.sidebar {
    background-color: #C2CAE8;
    height: 100vh;
}

.section {
    background-color: #FFF;
    height: 100vh;
}

.section-body {
    padding: 5%;
}

.now {
    padding-top: 5%;
}

.icons {
    color: black;
    padding: 15% 5%;
}

/* COLORS - TEXT, BACKGROUND, & DETAILS */

.initials {
    display: flex;
    justify-content: center;
}

.initials img {
    width: 100%;
    border-radius: 50%;
    margin-top: 10%;
}

.title {
    font-weight: bold;
    font-size: 2em;
}

.text {
    font-size: 1.40em;
}

.list {
    font-size: 0.65em;
}

footer {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    padding-left: 1em;
}




