/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* GLOBAL STYLES & WIDTHS*/

body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
}

/* COLORS - TEXT, BACKGROUND, & DETAILS */

.sidebar {
    background-color: #C2CAE8;
    height: 100vh;
}

.about {
    background-color: #FFF;
    height: 100vh;
}

.initials {
    width: 20vw;
    height: 20vh;
    background-color: white;
    text-align: center;
    font-size: 72px;
    -moz-border-radius: 10vw;
	-webkit-border-radius: 10vw;
	border-radius: 10vh;
}










